<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="Test1">
    <classes>
      <class name="com.yikids.ElenaLoginTest"/>
      <class name="com.yikids.AlexLoginDataDrivenTest"/>
      <class name="com.yikids.AlexLoginTest"/>
      <class name="com.yikids.AlexSignUpNegativeDataDr"/>
      <class name="com.yikids.AlexHospOwnerMangmntPageTest"/>
      <class name="com.yikids.AlexSignUpTest"/>
    </classes>
  </test>  
</suite>